@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    width: 250px;
    margin: 15px;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e29b65;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
    margin-top: 10px;
}